
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="/dashboard1" class="govuk-back-link">Back</a>
<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
               Change password
            </h1>
           
            <div class="govuk-form-group">
                <label class="govuk-label" id="_lblOldPassword" for="Input_OldPassword">Current password</label>
                <span class="govuk-error-message field-validation-valid" data-valmsg-for="Input.OldPassword" data-valmsg-replace="true"></span>
                <span id="_spOldPasswordHint" class="govuk-hint"></span>
                <input id="Input_OldPassword" class="govuk-input govuk-input--width-20" autocomplete="false" readonly="" onfocus="this.removeAttribute('readonly');" type="password" data-val="true" data-val-required="The Current password field is required." name="Input.OldPassword">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="Input_NewPassword">New password</label>
                <span id="more-detail-hint" class="govuk-hint">
                    Your new password must be at least 12 digits long. </br>
                    We recommend using three random words to create your password.</br>
                  </span>
                <span class="govuk-error-message field-validation-valid" data-valmsg-for="Input.NewPassword" data-valmsg-replace="true"></span>
                <span id="_spNewPassword" class="govuk-hint"></span>
                <input id="Input_NewPassword" class="govuk-input govuk-input--width-20" type="password" data-val="true" data-val-length="The New password must be at least 12 characters long." data-val-length-max="100" data-val-length-min="12" data-val-required="The New password field is required." name="Input.NewPassword">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" id="_lbl_ConfirmPassword" for="Input_ConfirmPassword">Confirm new password</label>
                <span class="govuk-error-message field-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
                <span id="_spConfirmPassword" class="govuk-hint"></span>
                <input id="Input_ConfirmPassword" class="govuk-input govuk-input--width-20" type="password" data-val="true" data-val-equalto="The new password and confirmation password do not match." data-val-equalto-other="*.NewPassword" name="Input.ConfirmPassword">
            </div>
        <div class="govuk-form-group">
            <button type="submit" class="govuk-button">Update password</button>
        </div>

        </div>
    </div>
</div>

{% endblock %}
