
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="/dashboard1" class="govuk-back-link">Back</a>
<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
               Create password
            </h1>
            <p class="govuk-body">
              Never share your password with anyone.
              Your colleagues can create their own account and link it to the same Sender ID. </br></br>
              For information about creating secure passwords please visit <a href="#">The NCSC guidance on creating a secure password</a>
          </p>
        </br>
          <div class="govuk-form-group">
            <label class="govuk-label">Password</label>
            <span id="more-detail-hint" class="govuk-hint">
                Your password must be at least 12 digits long. </br>
                We recommend using three random words to create your password.</br>

              </span>
            <span class="govuk-error-message"></span>
            <input type="password" id="Input_Password"class="govuk-input govuk-input--width-20" />
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label">Confirm Password</label>
            <span a class="govuk-error-message"></span>
            <input type="password" class="govuk-input govuk-input--width-20" />
        </div>
        <div class="govuk-form-group">
            <span asp-validation-for="Input.AgreeToTerms" class="govuk-error-message"></span>
            <div class="govuk-checkboxes__item">
                <input asp-for="Input.AgreeToTerms" id="Input_AgreeToTerms" class="govuk-checkboxes__input" type="checkbox">
                <label asp-for="Input.AgreeToTerms" class="govuk-label govuk-checkboxes__label">
                    I agree to the <a target="_blank" href="../TermsOfUse">terms of use<span class="govuk-visually-hidden">link opens in a new window</span></a>.
                </label>

            </div>
        </div>
        <div class="govuk-form-group">
            <a href="/passworderror" class="govuk-button">Create account</a>
        </div>

        </div>
    </div>
</div>

{% endblock %}
