.
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="/Dashboard" class="govuk-back-link">Back</a>
<div class="govuk-main-wrapper">  
    <h1 class="govuk-heading-l">Returns</h1>
        <hr />
        <br />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Create new return</h2>
        <p>Some sort of guidance about this section and what you can do here</p>
        <p><a href="#">Submit new return </a></p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Submitted Returns</h2>
        <p>Some sort of guidance about this section and what you can do here</p>
        <p><a href="#">View submitted returns </a></p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Quarterly Returns</h2>
        <p>Some sort of guidance about this section and what you can do here</p>
        <p><a href="#">Post Quarterly Returns </a></p>
    </div>
</div> 
<br />
<br />
<h1 class="govuk-heading-l">Other stuff</h1>
<hr />
<br/>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">Flat Files</h2>
            <p>Some sort of guidance about this section and what you can do here</p>
            <p><a href="#">Upload Flat Files</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">API Key</h2>
            <p>Some sort of guidance about this section and what you can do here</p>
            <p><a href="#">Generate API Keys</a></p>
        </div>
</div> 

<br />
<br />
<h1 class="govuk-heading-l">Admin</h1>
<hr />
<br/>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">Colleagues</h2>
            <p>Some sort of guidance about this section and what you can do here</p>
            <p><a href="#">Add / View Colleagues</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Details</h2>
            <p>Some sort of guidance about this section and what you can do here</p>
            <p><a href="#">Update your details</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Help and Information</h2>
                <p>Some sort of guidance about this section and what you can do here</p>
                <p><a href="#">View Help and Information</a></p>
            </div>
    </div> 

  
</div>

{% endblock %}
