
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="/Dashboard" class="govuk-back-link">Back</a>
<div class="govuk-main-wrapper">  
    <h1 class="govuk-heading-l">Web Returns</h1>
        <hr />
        <br />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <a href="#">Create new return</a>
        <p>Some sort of guidance about this section and what you can do here</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <a href="#"><h2 class="govuk-heading-m">View submitted returns</h2></a>
        <p>Some sort of guidance about this section and what you can do here</p>
       
    </div>
    <div class="govuk-grid-column-one-third">
        <a href="#"><h2 class="govuk-heading-m">Post quarterly returns</h2></a>
        <p>Some sort of guidance about this section and what you can do here</p>
    </div>
</div> 
<br />
<br />
<h1 class="govuk-heading-l">Other returns</h1>
<hr />
<br/>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <a href="#"><h2 class="govuk-heading-m">Upload flat files</h2></a>
            <p>Some sort of guidance about this section and what you can do here</p>
        </div>
        <div class="govuk-grid-column-one-third">
           <a href="#"><h2 class="govuk-heading-m">API Key</h2></a>
            <p>Some sort of guidance about this section and what you can do here</p>
        </div>
</div> 

<br />
<br />
<h1 class="govuk-heading-l">Admin</h1>
<hr />
<br/>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <a href="#"><h2 class="govuk-heading-m">Add / View colleagues</h2></a>
            <p>Some sort of guidance about this section and what you can do here</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <a href="#"><h2 class="govuk-heading-m">Update your details</h2></a>
            <p>Some sort of guidance about this section and what you can do here</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <a href="#"><h2 class="govuk-heading-m">View help and information</h2></a>
                <p>Some sort of guidance about this section and what you can do here</p>
            </div>
    </div> 

  
</div>

{% endblock %}
