
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="/Dashboard" class="govuk-back-link">Back</a>
<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-l">Create new return</h2>
            <p>Some sort of guidance about the return and what you can do here</p>
            <p><a href="#">Submit new return </a></p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-l">View your returns</h2>
            <p>Some sort of guidance about the return and what you can do here</p>
            <p><a href="#">View submitted returns </a></p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-l">Quarterly Returns</h2>
            <p>Some sort of guidance about the return and what you can do here</p>
            <p><a href="#">Post Quarterly Return </a></p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-l">Flat File</h2>
          <br />
          <p>Some sort of guidance about the flat files and what you can do here</p>
          <br />
          <p><a href="#">Upload Flat File </a></p>
        </div>
      </div>
      <br />
      <br />
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <h2 class="govuk-heading-l">Help and Information</h2>
                <p>Some sort of guidance about this section and what you can do here</p>
                <p><a href="#">View Help and Information</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <h2 class="govuk-heading-l">Details</h2>
                <br />
                <p>Some sort of guidance about this section and what you can do here</p>
                <br />
                <p><a href="#">Update Details</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <h2 class="govuk-heading-l">API Key</h2>
                <br />
                <p>Some sort of guidance about this section and what you can do here</p>
                <br />
                <p><a href="#">Generate API Key</a></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
              <h2 class="govuk-heading-l">Colleagues</h2>
              <br />
              <p>Some sort of guidance about this section files and what you can do here</p>
              <br />
              <p><a href="#"> Add / View Colleagues</a></p>
            </div>
          </div>
      
</div>

{% endblock %}
