.
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="/Dashboard" class="govuk-back-link">Back</a>
<div class="govuk-main-wrapper">  
    <h1 class="govuk-heading-xl"> Maritime Statistics</h1>
    <h2 class="govuk-heading-l">Web returns</h2>
        <hr />
        <br />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Create new return</h2>
        <p>Submit a freight movement return via the web.</p>
        <p><a href="#">Submit new return </a></p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Submitted Returns</h2>
        <p>View your previously submitted returns.</p>
        <p><a href="#">View submitted returns </a></p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Quarterly Returns</h2>
        <p>Submit, view or amend a quarterly return.</p>
        <p><a href="#">Post Quarterly Returns </a></p>
    </div>
</div> 
<br />
<br />
<h2 class="govuk-heading-l">Ascii returns</h2>
<hr />
<br/>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">Flat Files</h2>
            <p>Submit a maritime statistics in a flat file (also known as ASCII).</p>
            <p><a href="#">Upload Flat Files</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">API Key</h2>
            <p>Generate an API key to send statistics automatically via the API.</p>
            <p><a href="#">Generate API Keys</a></p>
        </div>
</div> 

<br />
<br />
<h2 class="govuk-heading-l">Administrative services</h2>
<hr />
<br/>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">Colleagues</h2>
            <p>Add a new colleague or view your current colleagues.</p>
            <p><a href="#">Add / View Colleagues</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Details</h2>
            <p>Update your contact details, respondent details and password.</p>
            <p><a href="#">Update your details</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Help and Information</h2>
                <p>Help with using this service and information about why we collect this data.</p>
                <p><a href="#">View Help and Information</a></p>
            </div>
    </div> 

  
</div>

{% endblock %}
