
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="/createpassword" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">
   Create password
</h1>
<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                  There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                  <ul class="govuk-list govuk-error-summary__list">
                    <li>
                      <a href="#passport-issued-error">The password you have entered is on our list of blocked passwords. This is for your security. </a>
                    </li>
                
                  </ul>
                </div>
              </div>
            <p class="govuk-body">
              Never share your password with anyone.
              Your colleagues can create their own account and link it to the same Sender ID. </br></br>
              For information about creating secure passwords please visit <a href="#">The NCSC guidance on creating a secure password</a>
          </p>
        </br>
          <div class="govuk-form-group">
            <div class="govuk-form-group govuk-form-group--error">
                
                <label class="govuk-label">Password</label>
            <span id="more-detail-hint" class="govuk-hint">
                Your password must be at least 12 digits long. </br>
                We recommend using three random words to create your password.</br>

            </span>
                    <span id="passport-issued-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>The password you entered is on our list of blocked passwords. <a href="#">The full list can be found here</a>
                          </span>
                        </span>
            <span class="govuk-error-message"></span>
            <input type="password" id="Input_Password"class="govuk-input govuk-input--width-20" />
        </div>
    </div>
        <div class="govuk-form-group">
            <label class="govuk-label">Confirm Password</label>
            <input type="password" class="govuk-input govuk-input--width-20" />
        </div>
        <div class="govuk-form-group">
            <span asp-validation-for="Input.AgreeToTerms" class="govuk-error-message"></span>
            <div class="govuk-checkboxes__item">
                <input asp-for="Input.AgreeToTerms" id="Input_AgreeToTerms" class="govuk-checkboxes__input" type="checkbox">
                <label asp-for="Input.AgreeToTerms" class="govuk-label govuk-checkboxes__label">
                    I agree to the <a target="_blank" href="../TermsOfUse">terms of use<span class="govuk-visually-hidden">link opens in a new window</span></a>.
                </label>

            </div>
        </div>
        <div class="govuk-form-group">
            <a href="/passworderror" class="govuk-button">Create account</a>
        </div>

        </div>
    </div>
</div>

{% endblock %}
