
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="/Dashboard" class="govuk-back-link">Back</a>
<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
               Summary for inward cargo
            </h1>

            <h2 class="govuk-heading-m">20 Foot Freight Units</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Number of units with cargo
                  </dt>
                  <dd class="govuk-summary-list__value">
                  3022
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> units with cargo</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   Number of units without cargo
                  </dt>
                  <dd class="govuk-summary-list__value">
                    3008
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden">units without cargo</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Total number of units
                    </dt>
                    <dd class="govuk-summary-list__value">
                      6030
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                  </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Gross Weight (units?)
                  </dt>
                  <dd class="govuk-summary-list__value">
                   31231223
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> gross weight</span>
                    </a>
                  </dd>
                </div>
              </dl>
              <h2 class="govuk-heading-m">More than 20 and less than 40 foot freight units</h2>
              <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Number of units with cargo
                    </dt>
                    <dd class="govuk-summary-list__value">
                    3022
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> units with cargo</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                     Number of units without cargo
                    </dt>
                    <dd class="govuk-summary-list__value">
                      3008
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">units without cargo</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Total number of units
                    </dt>
                    <dd class="govuk-summary-list__value">
                      6030
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Gross Weight
                    </dt>
                    <dd class="govuk-summary-list__value">
                     31231223
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> gross weight</span>
                      </a>
                    </dd>
                  </div>
                </dl>
                <h2 class="govuk-heading-m"> 40 foot freight units</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Number of units with cargo
                      </dt>
                      <dd class="govuk-summary-list__value">
                      323333
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden"> units with cargo</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                       Number of units without cargo
                      </dt>
                      <dd class="govuk-summary-list__value">
                       42142
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden">units without cargo</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Total number of units
                        </dt>
                        <dd class="govuk-summary-list__value">
                          6030
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                      </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Gross Weight
                      </dt>
                      <dd class="govuk-summary-list__value">
                       3123123
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden"> gross weight</span>
                        </a>
                      </dd>
                    </div>
                  </dl>
                  <a href="#" role="button" class="govuk-button">
                    Submit
                </a>

        </div>
    </div>
</div>

{% endblock %}
